.home-section {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;

    &__country {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    &__title {
      max-width: 1140px;
      width: 100%;
      font-size: 72px;
      font-weight: 600;
      color: #fff;
      text-align: center;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto;

      @media screen and (max-width: 1200px) {
        font-size: 60px;
      }

      @media screen and (max-width: 768px) {
        font-size: 48px;
      }

      @media screen and (max-width: 480px) {
        font-size: 36px;
      }

      &--highlight {
        color: #4EB458;
      }
    }

    &__description {
      font-size: 18px;
      color: #E7E5E4;
      text-align: center;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap-reverse;
      gap: 8px;
      margin-top: 20px;

      &__button--work,
      &__button--cv {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 15px 32px;
        border-radius: 8px;
        font-size: 16px;
        color: #fff;
      }

      &__button--work {
        background-color: #222222;
        border: 1px solid #393939;
        text-decoration: none;
      }

      &__button--cv {
        background-color: transparent;

        span {
          font-size: 22px;
        }
      }
    }
  }
}